@import './breakpoint.scss';
@import './grid.scss';
*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}
.divider{
  margin-top: 20px;
  margin-bottom: 20px;
}
main{
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 40px;
  flex-wrap: wrap;
  padding: 0 20px;
  @include breakpoint(desktop-above) {
    padding: 0 40px;
  }
}
.news-feeds{
  h1{
    color: #002060;
  }
  .new-card-wrap{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    
  }
  .news-box{
    display: flex;
    margin-top: 7px;
    align-items: center;
    border: 1px solid #203864;
    .rect-box{
      height: 100px;
      width: 100px;
      background: #203864;
      min-width: 100px;
    }
    .news-info{
      width: 100%;
      padding-left: 15px;
      padding-right: 10px;
      .title{
        color:#c45a11;
        font-weight: 400;
      }
      .bottom-info{
        display: flex;
        justify-content: space-between;
        .date-style{
          color: #858586;
        }
        .name-style{
          color: #2f5597;
          font-weight: bold;
        }
      }
    }
  }
}
header{
 background: #203864;
  .header-content-wrap{
    max-width: 1440px;
     width: 100%;
  
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
  @include breakpoint(desktop-above) {
    padding: 0 40px;
  }
  }
  .image-wrap{
    img{
        height: 100px;
      }
  }
  .search-wrap{
    input{
      width: 180px;
      @include breakpoint(desktop-above) {
      width: 300px;
    }
      height: 40px;
      padding: 10px;
      font-size: 20px;
      &::placeholder {
        color: #c45a11;
        opacity: 1;
      }
    }
  }
}
h1{
  font-size: 30px;
  strong{
    font-weight: 600;
  }
}
.welcome-dec{
  background: #b4c7e7;
  padding:20px;
  p{
    margin-left: 10px;
    font-size: 18px;
  }
}
strong{
  font-weight: bold;
}
  .color-strip{
    position: absolute;
    background: #002060;
    height: 7px;
    top: 0;
    z-index: 1;
    width: 100%;
    left: 0;
    right: 0;
    &.orange-strip{
      background: #c45a11;
    }
    &.light-blue{
      background: #2f5597;
    }
  }
.about-us{
  background: #d0cece;
  position:relative;
  padding:20px;
  margin-top: 20px;
  color: #002060;

  p{
    margin-left: 10px;
    font-size: 18px;
    a{
      font-size: 16px;
      text-decoration: underline;
    }
  }  
}

.registration-wrap{
  h1{
    color: #002060;
  }
  .input-wrap{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    label{
      font-weight: 500;
      color: #c45a11;
    }
    input{
      height: 40px;
      border: none;
      font-size: 18px;
      box-shadow: inset 0 0 5px #c5c5c5;
    }
  }
  .button-container{
    display: flex;
    justify-content: space-between;
    button{
      height: 51px;
      width: 112px;
      font-size: 20px;
      color: white;
      border: none;
      &.submit-btn{
        background: #002060;
      }
      &.cancel-btn{
        background: #c45a11;
      }
    }
  }
}

